<h2>Memory Cupsuleへようこそ</h2>
<!--タイトルのバッググラウンドにまっmかそれっぽい絵を挿入？-->

<h3>
  Memory Cupsuleはあなたの思い出、<br/>
  あなたが今現在感じたこと、考えていることなどを<br/>
  設定した日付に想いを開封できるSNSサービスです。<br/><br/>
  
  たくさんの思い出を綴り、友達に共有したり<br/>
  友達と一緒にタイムカプセルを送って、同じ思い出を一緒に振り返りましょう。
</h3>

<div>
  <%= link_to "ログイン画面へ", new_user_session_path %>
</div>
<div>
  <%= link_to "新しいのアカウント作成", new_user_registration_path %>
</div>